apiVersion: v1
kind: Secret
metadata:
  name: tams-db-auth
  namespace: tams
  labels:
    app: postgres-auth
    app.kubernetes.io/part-of: tams
type: Opaque
stringData:
  host: postgres-auth
  user: CHANGE_ME_AUTH_USER
  password: CHANGE_ME_AUTH_PASSWORD
