apiVersion: v1
kind: Secret
metadata:
  name: tams-db-analysis
  namespace: tams
  labels:
    app: postgres-analysis
    app.kubernetes.io/part-of: tams
type: Opaque
stringData:
  host: postgres-analysis
  user: CHANGE_ME_ANALYSIS_USER
  password: CHANGE_ME_ANALYSIS_PASSWORD
