apiVersion: v1
kind: Secret
metadata:
  name: tams-db-rules
  namespace: tams
  labels:
    app: postgres-rules
    app.kubernetes.io/part-of: tams
type: Opaque
stringData:
  host: postgres-rules
  user: CHANGE_ME_RULES_USER
  password: CHANGE_ME_RULES_PASSWORD
